@import 'nib'

#filebrowser {

    .nowrap {
        white-space: nowrap;
    }
    .infinite-tree-content td {
        padding-right: 20px;
    }

    .tree {
        border: 1px solid #ccc;
        background-color: #fff;
    }

    .infinite-tree-toggler {
        text-align: center;
        margin-right: 5px;
    }
    .infinite-tree-folder-icon {
        width: 19px;
    }
    .infinite-tree-folder-icon:first-child {
        margin-left: 20px;
    }
    .infinite-tree-folder-icon:before {
        margin-right: 5px;
    }

    .infinite-tree-content {
        .infinite-tree-selected.infinite-tree-item,
        .infinite-tree-selected.infinite-tree-item:hover {
            background: #deecfd;
            border-color: transparent;
        }
    }

    .infinite-tree-scroll {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 400px;
    }
}
